* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dfffb1;
}

h1 {
    margin: 10px;
    font-family: "Walter Turncoat", cursive;
    color: #ae85e6;
}

.botones {
    padding: 10px;
    border-radius: 20px;
    border: 2px dashed;
    font-family: "Homemade Apple", cursive;
    background-color: #cba8fc;
}

button {
    background-color: #bde685;
    color:#70983d;
    border-radius: 10px;
    border: 2px solid #70983d;
    padding: 3px 5px;
}